*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

header{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.header-settings div{
    display: inline-block;
    margin-right: 4px;
    background-color: rgba(218, 218, 218, 0.4);
    padding: 5px;
    border-radius: 4px;
}



main{
    padding-left: 60px;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow: auto;
    gap: 10px;
    margin-bottom: 50px;
}

.pic{
    background-image: url("https://picsum.photos/280/180");
    background-size: cover;
    position: relative;
    width: 290px;
    height: 180px;
}

.profile-name{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6px;
    background: rgba(125, 122, 122, 0.6);
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
}

.mic-camera{
    display: flex;
    padding: 1rem;
}

/* .mic{
    padding-right: 20px;
} */

.settings{
    display: flex;
    text-align: center;
}

.setting-space{
    padding-right: 5px;
}

.icon{
    font-size: 30px;
    padding-bottom: 10px;
    padding: 10px;

}

.arrow{
    font-size: 0.7rem;
    align-self: center;
    padding: 1rem;

}

.icon.active{
    color: green;
}


.end-meeting{
    padding: 20px;
    color: red;
    background-color:#4A4A4A ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

